openapi: 3.0.1
info:
  title: L0 Storage
  description: Long-term immutable storage
  license:
    name: MIT
    url: https://github.com/tiki/l0-storage/blob/main/LICENSE
  version: 0.0.15
servers:
- url: https://storage.l0.mytiki.com
paths:
  /api/latest/upload:
    post:
      tags:
      - STORAGE
      summary: Upload Content
      description: Upload a block/pub.key to storage bucket
      operationId: l0-storage-upload-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                content:
                  type: string
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "405":
          description: Method Not Allowed
        "413":
          description: Payload Too Large
        "424":
          description: Failed Dependency
  /api/latest/token:
    post:
      tags:
      - STORAGE
      summary: Request Access Token
      description: Request an access token for uploading to storage bucket
      operationId: l0-storage-token-post
      parameters:
      - name: x-api-id
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenAORsp'
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "417":
          description: Expectation Failed
      security:
      - apiId: []
  /api/latest/report:
    post:
      tags:
      - STORAGE
      summary: Report Usage
      description: Submit a usage report (handled automatically by Upload)
      operationId: l0-storage-report-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportAOReq'
        required: true
      responses:
        "204":
          description: No Content
        "403":
          description: Forbidden
      security:
      - remote: []
  /api/latest/api-id/new:
    post:
      tags:
      - API ID
      summary: Create an API Id
      description: Request a new API Id for the authorized user
      operationId: l0-storage-api-id-post
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIdAORsp'
      security:
      - jwt: []
  /health:
    get:
      tags:
      - HEALTH
      summary: Health Check
      description: Get service status
      operationId: l0-storage-health-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                message: OK
  /api/latest/api-id:
    get:
      tags:
      - API ID
      summary: Get API Ids
      description: Get all API Ids for the authorized user
      operationId: l0-storage-api-ids-get
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageApiIdAORsp'
      security:
      - jwt: []
  /api/latest/api-id/id/{api-id}:
    get:
      tags:
      - API ID
      summary: Get API Id
      description: Get the metadata for a single API Id
      operationId: l0-storage-api-id-get
      parameters:
      - name: api-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIdAORsp'
        "404":
          description: Not Found
      security:
      - jwt: []
    delete:
      tags:
      - API ID
      summary: Revoke API Id
      description: Careful! This action cannot be undone
      operationId: l0-storage-api-id-delete
      parameters:
      - name: api-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIdAORsp'
        "404":
          description: Not Found
      security:
      - jwt: []
components:
  schemas:
    TokenAORsp:
      type: object
      properties:
        type:
          type: string
        token:
          type: string
        expires:
          type: string
          format: date-time
        urnPrefix:
          type: string
    TokenAOReq:
      type: object
      properties:
        pubKey:
          type: string
        signature:
          type: string
        stringToSign:
          type: string
    ReportAOReq:
      type: object
      properties:
        path:
          type: string
        sizeBytes:
          type: integer
          format: int64
    ApiIdAORsp:
      type: object
      properties:
        apiId:
          type: string
        valid:
          type: boolean
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
    ApiError:
      type: object
      properties:
        id:
          type: string
        message:
          type: string
        detail:
          type: string
        help:
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
    ApiPageApiIdAORsp:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ApiIdAORsp'
        size:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
  securitySchemes:
    remote:
      type: http
      scheme: basic
    apiId:
      type: apiKey
      name: X-API-ID
      in: header
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
