openapi: 3.0.1
info:
  title: L0 Storage
  description: Long-term immutable storage
  license:
    name: MIT
    url: https://github.com/tiki/l0-storage/blob/main/LICENSE
  version: 0.0.16
servers:
- url: https://storage.l0.mytiki.com
paths:
  /api/latest/upload:
    post:
      tags:
      - STORAGE
      summary: Upload Content
      description: Upload a block/pub.key to storage bucket
      operationId: l0-storage-upload-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                content:
                  type: string
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "405":
          description: Method Not Allowed
        "413":
          description: Payload Too Large
        "424":
          description: Failed Dependency
  /api/latest/token:
    post:
      tags:
      - STORAGE
      summary: Request Access Token
      description: Request an access token for uploading to storage bucket
      operationId: l0-storage-token-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenAORsp'
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "417":
          description: Expectation Failed
      security:
      - jwt: []
  /api/latest/report:
    post:
      tags:
      - STORAGE
      summary: Report Usage
      description: Submit a usage report (handled automatically by Upload)
      operationId: l0-storage-report-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportAOReq'
        required: true
      responses:
        "204":
          description: No Content
        "403":
          description: Forbidden
      security:
      - remote: []
  /health:
    get:
      tags:
      - HEALTH
      summary: Health Check
      description: Get service status
      operationId: l0-storage-health-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                message: OK
components:
  schemas:
    TokenAORsp:
      type: object
      properties:
        type:
          type: string
        token:
          type: string
        expires:
          type: string
          format: date-time
        urnPrefix:
          type: string
    TokenAOReq:
      type: object
      properties:
        pubKey:
          type: string
        signature:
          type: string
        stringToSign:
          type: string
    ReportAOReq:
      type: object
      properties:
        path:
          type: string
        sizeBytes:
          type: integer
          format: int64
    ApiError:
      type: object
      properties:
        id:
          type: string
        message:
          type: string
        detail:
          type: string
        help:
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    remote:
      type: http
      scheme: basic
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
